config MACH_ANCORA
	depends on ARCH_MSM7X30
	select APPSBOOT_3M_CONFIG
	bool "ANCORA"
	help
	  Support for the Samsung Ancora board.

config BOARD_REVISION
	hex "Select H/W Revision"
	depends on MACH_ANCORA
	default "0x00"

config HW_REV_USING_SMB328
	hex "Select H/W Revision using smb328"
	depends on CHARGER_SMB328A
	default "0x00"
